@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|Roboto:300,400,500&display=swap');

body {
  /* margin: 50px;
  position: absolute; */
  /* height: calc(100% - 120px);
  width: calc(100% - 120px); */
  height: 100%;
  margin: 0;
  background: #000;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  background-color: #282c34;
  /* min-height: 100vh; */
  padding: 2rem;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Moment-time {
  font-size: 3rem;
}